.card {
  cursor: pointer;
  padding: 20px;
  margin-top: 80px;
}
.card:hover {
  box-shadow: 1px 3px 5px white;
}
.links {
  color: white !important;
  text-decoration: none !important;
}
@media screen and (max-width: 400px) {
  .card {
    overflow: hidden;
    cursor: pointer;
    padding: 10px;
    margin-top: 80px;
  }
  .card:hover {
    box-shadow: 1px 3px 5px white;
  }
  .links {
    color: white !important;
    text-decoration: none !important;
  }
}
